In [1]:
from sklearn.datasets import load_iris
import pandas
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.dummy import DummyClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [2]:
df = pandas.DataFrame(load_iris().data, columns=load_iris().feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [3]:
y = load_iris().target
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [4]:
df['y'] = y
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  y
0                5.1               3.5                1.4               0.2  0
1                4.9               3.0                1.4               0.2  0
2                4.7               3.2                1.3               0.2  0
3                4.6               3.1                1.5               0.2  0
4                5.0               3.6                1.4               0.2  0

In [5]:
df.rename(columns={'sepal length (cm)': 'sepal_length', 'sepal width (cm)': 'sepal_width', 'petal length (cm)': 'petal_length', 'petal width (cm)': 'petal_width'}, inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  y
0           5.1          3.5           1.4          0.2  0
1           4.9          3.0           1.4          0.2  0
2           4.7          3.2           1.3          0.2  0
3           4.6          3.1           1.5          0.2  0
4           5.0          3.6           1.4          0.2  0

In [6]:
s = df.describe()

s["sepal_length"]["mean"]

5.843333333333334

In [7]:
s["sepal_width"]["mean"]

3.0573333333333337

In [8]:
# Print the number of NaNs
df.isna().sum().sum()

0

In [9]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width           y
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [10]:
# Filter the data
df = df[df["sepal_length"] > 5]
df = df[(df["sepal_width"] < 4) & (df["sepal_width"] > 2.5)]
df = df[df["petal_length"] > 2]
df = df[(df["petal_width"] > 0.5) & (df["petal_width"] < 2)]

In [11]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width          y
count     54.000000    54.000000     54.000000    54.000000  54.000000
mean       6.177778     2.905556      4.707407     1.503704   1.314815
std        0.507925     0.187754      0.607765     0.243375   0.468803
min        5.200000     2.600000      3.500000     1.000000   1.000000
25%        5.800000     2.800000      4.300000     1.300000   1.000000
50%        6.100000     2.900000      4.650000     1.500000   1.000000
75%        6.475000     3.000000      5.075000     1.800000   2.000000
max        7.400000     3.400000      6.300000     1.900000   2.000000

In [12]:
df_train = df.sample(frac=0.8, random_state=0)
df_test = df.drop(df_train.index)

X_train = df_train.drop("y", axis=1)
Y_train = df_train["y"]
X_test  = df_test.drop("y", axis=1)
Y_test  = df_test["y"]

print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(43, 4) (43,)
(11, 4) (11,)

In [13]:
dummy = DummyClassifier()
dummy.fit(X_train, Y_train)
Y_pred = dummy.predict(X_test)
acc_dummy = round(dummy.score(X_train, Y_train) * 100, 2)
acc_dummy

69.77

In [14]:
random_forest = RandomForestClassifier(n_estimators=1)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

95.35

In [15]:
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

95.35

In [16]:
mod = pandas.DataFrame({
    'Model': ['Dummy Classifier', 
              'Random Forest', 'KNeighborsClassifier'],
    'Score': [acc_dummy, acc_random_forest, acc_knn]})
mod.sort_values(by='Score', ascending=False)

                  Model  Score
1         Random Forest  95.35
2  KNeighborsClassifier  95.35
0      Dummy Classifier  69.77